*{
  margin: 0;
  padding: 0;
}

html,body{
  background-color: bisque;
}

.contenedor-padre{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-hijo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}